.header-title {
    font-size: calc(20px + 3vmin);
    color: rgb(223, 155, 155);
  }

  .header-undertitle {
    font-size: calc(15px + 1vmin);
    color: rgb(223, 155, 155);
  }

  .DE-header {
    background-color: #c03333; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 20vh
  }