.footer-text {
    font-size: calc(15px + 1vmin);
    color: rgb(223, 155, 155);
    align-self: center;
  }

  .footer-credits {
    font-size: calc(15px);
    color: #113d52;
    align-self: flex-end
  }

  .DE-footer {
    background-color: #c03333; 
    display: flex;
    flex-direction: column;

    justify-content: center;
    min-height: 20vh

  }